.form-input {
    list-style: none;
    text-align: center;
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
}

.form-input label {
    display: block;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    white-space: normal;
    margin-bottom: 15px;
}

.input-box {
    margin-bottom: 40px;
}

.input-box input {
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #603aa1;
    border-radius: 8px;
}

.grayBox {
    background-color: #cfcfcf;
    max-width: 568px;
    margin: 0 auto;
    padding: 20px;
}

.grayBox label h6 {display: inline-block;margin-left: 10px;font-size: 14px;margin-bottom: 0;}

.grayBox p {
    font-size: 14px;
}

.password-info2 > p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.password-info2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    max-width: 540px;
    margin: 0 auto 30px;
}
.password-info2 ul li{
    flex-wrap: wrap;
}
.password-info2 ul li {width: 50%;text-align: center;padding: 5px;opacity: 0.3;}

.password-info2 ul li.active {
    opacity: 1;
}

.password-info2 ul li.active svg {
    fill: #07cd07;
}