
section{
  padding: 80px 0;
}
.title {text-align: center;margin-bottom: 60px;font-weight: 700;color: #333;font-size: 1.5rem;}

.btn-red {
  background-color: #c8102e;
  border: 2px solid #c8102e;
  border-radius: 4px;
  padding: 16px 24px;
}

.btn-red:hover, .btn-check:focus+.btn-primary, .btn-primary:focus {
  background-color: #9d2235;
  border: 2px solid #9d2235;
  box-shadow: none;
}
.form-btns {
  text-align: center;
  margin-top: 80px;
}